<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" href="http://png.weweztms.cn/icon.png" type="image/x-icon" />
    <title>UWL Volunteer Org</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header class="head" style="height: 100px;margin-top: 50px;margin-bottom: 30px;">
            <h2 class="title" >Welcome to UWL Volunteer Org Website <br>Your role status is {{role}}</h2>

            <div v-if="role=='Guest'" class="user-link">
                <el-link :underline="false" href="../src/login.html" class="el-link">Login</el-link>
                <el-link :underline="false" href="../src/register.html" class="el-link">Register</el-link>
            </div>
            <div v-if="role!='Guest'" class="user-link">
                <el-link :underline="false" class="el-link" href="../src/userInfo.html">User Profile</el-link>
                <el-link :underline="false" @click.native="logout" href="../src/index.html" class="el-link">Logout</el-link>
            </div>
        </el-header>
        <el-container>
            <el-header>
                <el-menu
                        mode="horizontal"
                        default-active="1"
                        @select="indexChange"
                        ref="navbar"
                        background-color="white"
                        text-color="black"
                        active-text-color="blue">
                    <el-menu-item index="1">
                        <template #title>
                            About us
                        </template>

                    </el-menu-item>
                    <el-menu-item index="2">
                        <template #title>
                            Programs
                        </template>
                    </el-menu-item>
                </el-menu>
                <el-main>

                    <div v-if="currentIndex=='1'">
                        <el-button onclick="window.open('https\://8e02c5.baklib-free.com/6163/75f6')">User Manual</el-button>
                        <el-button v-if="role=='Donor'" @click="openDonateDialog('1')">Donate Us</el-button>
                        <el-dialog :visible.sync="donateDialogVisible" title="Donate">

                            <el-form v-model="donateForm">
                                <el-form-item label="Donation number:">
                                    <el-input-number v-model="donateForm.amount"></el-input-number>
                                </el-form-item>
                            </el-form>
                            <el-divider></el-divider>
                            <el-button @click="myDonate">Donate</el-button>

                        </el-dialog>
                    </div>
                    <div v-if="currentIndex=='2'">
                        <el-table :data="programList">
                            <el-table-column
                                    label="Program ID"
                                    align="center"
                                    min-width="100px">
                                <template slot-scope="{row}">
                                    <span>{{row.programId}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Title"
                                    align="center"
                                    min-width="100px">
                                <template slot-scope="{row}">
                                    <span>{{row.title}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Operations"
                                    align="center"
                                    min-width="100px">
                                <template slot-scope="{row}">
                                    <el-link type="primary" :underline="false" @click="openEventsInfoDialog(row)">
                                        Events info
                                    </el-link>
                                    <el-dialog :visible.sync="eventsInfoDialogVisible" title="Events info" width="80%">
                                        <el-table :data="eventList">
                                            <el-table-column
                                                    label="Event ID"
                                                    align="center"
                                                    min-width="100px">
                                                <template slot-scope="{row}">
                                                    <span>{{row.eventId}}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    label="Title"
                                                    align="center"
                                                    min-width="100px">
                                                <template slot-scope="{row}">
                                                    <span>{{row.title}}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    label="Status"
                                                    align="center"
                                                    min-width="100px"
                                                    v-if="role!='Guest'">
                                                <template slot-scope="{row}">
                                                    <span>{{eventStatus[row.status]}}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    label="Start time"
                                                    align="center"
                                                    min-width="100px"
                                                    v-if="role!='Guest'">
                                                <template slot-scope="{row}">
                                                    <span>{{row.startTime}}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    label="End time"
                                                    align="center"
                                                    min-width="100px"
                                                    v-if="role!='Guest'">
                                                <template slot-scope="{row}">
                                                    <span>{{row.endTime}}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    label="Required volunteers number"
                                                    align="center"
                                                    min-width="100px"
                                                    v-if="role!='Guest'">
                                                <template slot-scope="{row}">
                                                    <span>{{row.requiredVolunteersNumber}}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    label="Volunteers number so far"
                                                    align="center"
                                                    min-width="100px"
                                                    v-if="role!='Guest'">
                                                <template slot-scope="{row}">
                                                    <span>{{row.volunteersNumberSoFar}}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    label="Operation"
                                                    v-if="role!='Guest'"
                                                    align="center"
                                                    min-width="100px"
                                                    v-if="role!='Guest'">
                                                <template slot-scope="{row}">
                                                    <el-link @click="joinTheEvent(row)" v-if="(role=='Volunteer')&&(!judgeVolunteerStatus(row))">Join</el-link>
                                                    <el-link @click="quitTheEvent(row)" v-if="(role=='Volunteer')&&(judgeVolunteerStatus(row))">Quit</el-link>
                                                    <el-link @click="openDonateDialog(row.eventId)" v-if="role=='Donor'" :underline="false">Donate</el-link>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </el-dialog>
                                    <el-divider direction="vertical" v-if="role=='Donor'"></el-divider>
                                    <el-link type="primary" :underline="false" @click="openDonateDialog(row.programId)" v-if="role=='Donor'">
                                        Donate
                                    </el-link>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-dialog :visible.sync="donateDialogVisible" title="Donate">

                            <el-form v-model="donateForm">
                                <el-form-item label="Donation number:">
                                    <el-input-number v-model="donateForm.amount"></el-input-number>
                                </el-form-item>
                            </el-form>
                            <el-divider></el-divider>
                            <el-button @click="myDonate">Donate</el-button>

                        </el-dialog>
                    </div>
                </el-main>
            </el-header>
            <el-main>

            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script type="module">
    ELEMENT.locale(ELEMENT.lang.en)
    import {findList} from "../js/api/event.js";
    const url = 'http://127.0.0.1:8000'
    let app = new Vue({
        el: '#app',
        data: function() {
            return {
                role: (!localStorage.getItem('role'))?"Guest":localStorage.getItem('role'),
                currentIndex: "1",
                currentProgram: "0",
                programList: [{
                    programId: "321",
                    event: [{
                        eventId: "123",
                    },],
                    title: "ABCD",
                    amountOfFund: 100,
                    status: "0",
                    donorsInfo: []
                }],
                isJoined: [],
                eventList: [{
                    eventId: "123",
                    title: "ABC",
                    startTime: "2021-12-01",
                    endTime: "2021-12-02",
                    place: "Beijing",
                    amountOfFund: 100,
                    requiredVolunteersNumber: 100,
                    volunteersNumberSoFar: 90,
                    description: "ABC is a event.",
                    status: "0",
                    programBelongsTo: "321",
                    volunteersInfo: [],
                    donorsInfo: [{
                        donorId: "12345679",
                        donationTime: "2021-12-01",
                        amount: 100
                    }]
                }],
                eventsInfoDialogVisible: false,
                eventStatus: {
                    "0": "normal",
                    "1": "finished",
                    "2": "deleted/canceled"
                },
                donateDialogVisible: false,
                donateForm: {
                    "id": "",
                    "amount": 0
                }
            }
        },
        methods:{
            logout(){
                localStorage.removeItem("user")
                localStorage.removeItem("role")
            },
            indexChange(index) {
                this.currentIndex = index
            },
            openEventsInfoDialog(row){
                this.currentProgram = row.programId
                this.eventList = []
                if(window.XMLHttpRequest){
                    var httpRequest2 = new XMLHttpRequest();
                }else{
                    var httpRequest2 = new ActiveXObject("Microsoft.XMLHTTP");
                };
                httpRequest2.open('POST', url + '/event/search/', true);
                httpRequest2.setRequestHeader("Content-type","application/json;charset-UTF-8");
                httpRequest2.setRequestHeader("token", localStorage.getItem('token'));
                let code = 200
                let msg = ""
                let data = { 'program' : this.currentProgram}
                var para = JSON.stringify(data)
                httpRequest2.send(para)
                httpRequest2.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
                    if (httpRequest2.readyState == 4 && httpRequest2.status == 200) {//验证请求是否发送成功
                        var json = JSON.parse(httpRequest2.responseText);//获取到服务端返回的数据
                        code = json.code
                        msg = json.msg
                        app._data.eventList = []
                        if(JSON.stringify(json.data) !="{}")
                        {
                            app._data.isJoined = []
                            json.data.return_event_list.forEach(item=>{
                                app._data.eventList.push({
                                    eventId: item.id,
                                    title: item.title,
                                    startTime: item.startTime,
                                    endTime: item.endTime,
                                    place: item.place,
                                    requiredVolunteersNumber: item.requiredVolunteersNumber,
                                    volunteersNumberSoFar: item.volunteersNumberSoFar,
                                    status: item.status
                                })
                                app._data.isJoined.push({id: item.id, isJoined: false})
                            })

                        }
                    }
                    app._data.eventsInfoDialogVisible = true
                }
            },
            judgeVolunteerStatus(row){
                for (let i in this.isJoined){
                    if (this.isJoined[i].id == row.eventId){
                        return this.isJoined[i].isJoined
                    }
                    return false
                }
            },
            joinTheEvent(row){
                let data = {event_id: row.eventId, duty:''}
                var para = JSON.stringify(data)
                if(window.XMLHttpRequest){
                    var httpRequest2 = new XMLHttpRequest();
                }else{
                    var httpRequest2 = new ActiveXObject("Microsoft.XMLHTTP");
                };
                httpRequest2.open('POST', url + '/event/join/', true);
                httpRequest2.setRequestHeader("Content-type","application/json;charset-UTF-8");
                httpRequest2.setRequestHeader("token", localStorage.getItem('token'));
                let code = 200
                let msg = ""
                httpRequest2.send(para)
                httpRequest2.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
                    if (httpRequest2.readyState == 4 && httpRequest2.status == 200) {//验证请求是否发送成功
                        var json = JSON.parse(httpRequest2.responseText);//获取到服务端返回的数据
                        code = json.code
                        msg = json.msg
                        if(json.code == 200){
                            app.$message.success('Join the event successfully!')
                            app._data.isJoined.forEach(item=>{
                                if (item.id == row.eventId){
                                    item.isJoined = true
                                }
                            })
                        }
                        else{
                            app.$message.error('You can\'t join the event!')
                        }
                    }
                }
            },
            quitTheEvent(row){
                let data = {event_id: row.eventId, user_id: localStorage.getItem('user')}
                var para = JSON.stringify(data)
                if(window.XMLHttpRequest){
                    var httpRequest2 = new XMLHttpRequest();
                }else{
                    var httpRequest2 = new ActiveXObject("Microsoft.XMLHTTP");
                };
                httpRequest2.open('POST', url + '/event/quit/', true);
                httpRequest2.setRequestHeader("Content-type","application/json;charset-UTF-8");
                httpRequest2.setRequestHeader("token", localStorage.getItem('token'));
                let code = 200
                let msg = ""
                httpRequest2.send(para)
                httpRequest2.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
                    if (httpRequest2.readyState == 4 && httpRequest2.status == 200) {//验证请求是否发送成功
                        var json = JSON.parse(httpRequest2.responseText);//获取到服务端返回的数据
                        code = json.code
                        msg = json.msg
                        if(json.code == 200){
                            app.$message.success('Quit the event successfully!')
                            app._data.isJoined.forEach(item=>{
                                if (item.id == row.eventId){
                                    item.isJoined = false
                                }
                            })
                        }
                        else{
                            app.$message.error('You can\'t quit the event!')
                        }
                    }
                }
            },
            openDonateDialog(id){
                this.donateForm.id = id
                this.donateForm.amount = 0
                this.donateDialogVisible = true
            },
            myDonate(){
                var amount = this.donateForm.amount
                let data = {amount: amount, id:this.donateForm.id}
                var para = JSON.stringify(data)
                if(window.XMLHttpRequest){
                    var httpRequest2 = new XMLHttpRequest();
                }else{
                    var httpRequest2 = new ActiveXObject("Microsoft.XMLHTTP");
                };
                httpRequest2.open('POST', url + '/event/donor/', true);
                httpRequest2.setRequestHeader("Content-type","application/json;charset-UTF-8");
                httpRequest2.setRequestHeader("token", localStorage.getItem('token'));
                let code = 200
                let msg = ""
                httpRequest2.send(para)
                httpRequest2.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
                    if (httpRequest2.readyState == 4 && httpRequest2.status == 200) {//验证请求是否发送成功
                        var json = JSON.parse(httpRequest2.responseText);//获取到服务端返回的数据
                        code = json.code
                        msg = json.msg
                        if(json.code == 200){
                            app.$message.success('Donate successfully!')

                        }
                        else{
                            app.$message.success('You can\'t donate the event!')
                        }
                    }
                }
            }
        },
        created: function(){
            this.programList = []
            if(window.XMLHttpRequest){
                var httpRequest2 = new XMLHttpRequest();
            }else{
                var httpRequest2 = new ActiveXObject("Microsoft.XMLHTTP");
            };
            httpRequest2.open('POST', url + '/event/search/', true);
            httpRequest2.setRequestHeader("Content-type","application/json;charset-UTF-8");
            httpRequest2.setRequestHeader("token", localStorage.getItem('token'));
            let code = 200
            let msg = ""
            let data = {status : '0'}
            var para = JSON.stringify(data)
            httpRequest2.send(para)
            httpRequest2.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
                if (httpRequest2.readyState == 4 && httpRequest2.status == 200) {//验证请求是否发送成功
                    var json = JSON.parse(httpRequest2.responseText);//获取到服务端返回的数据
                    code = json.code
                    msg = json.msg
                    app._data.programList = []
                    json.data.return_program_list.forEach(item=>{
                        app._data.programList.push({
                            programId: item.id,
                            event: item.event,
                            title: item.title,
                            status: item.status})
                    })
                }
            }
        }
    })
</script>
</html>